body{
    
    padding-left:10%;
    padding-right:10%;
    padding-top:5%;
    background-color: lightgray;
    /*width:1000px;*/
    
    /*width:10px;*/
}
.line{
    /*border-right: 1px solid #000;*/
    /*border-right-width: 1px;*/
    /*border-right-style: solid;*/
    /*border-right-color: #000;*/
    font-weight: bolder;
    font-style: italic;
    font-size: 19px;
    /*height:100px;*/
    padding-right: 10px;
}
.line-div{
    /*height:100px;*/
}
.sub-line-div{
    height:100px;
    border-right: 1px solid #000;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: #000;
    
}
.image_div{
    padding-right: 20%;
    transform: rotate(-6deg);
}